*{
    margin: 0;
}

.top-banner{
    height: 800px;
    width: 100%;
    /* opacity: 0.6; */
    text-align: center;
    /* background-color: aliceblue; */

    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;

}
.top-banner

.banner-title{
    color:orange;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    padding-top: 50px;

}
.banner-description{
    color:rgb(242, 244, 247);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    text-align:center;
    margin-top: 40px;

}

.btn-primary{
    color:azure;
    font-size: 30px;
    font-weight: 500;
    background-color: orange;
    margin-top: 50px;
    padding: 20px 35px;
    border: 0;
    border-radius: 5%;
}

/* main part's styles */

.main-body{
    text-align: center;
    margin: 80px 50px;
}

.donate-today{
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 30px;
}

.donate-description{
    font-size: 22px;
}

.donate-amount{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 30px;
   
    
    
}

.amount-border{
    background-color: antiquewhite;
    padding: 50px;
}

.amount-pointer{
    background-color: rgb(231, 200, 205);
    padding: 50px;
    outline-style: solid;
    outline-color: red;
}

/* main body second part's styles */

.sector-title{
    font-weight: 800;
    font-size: 50px;
    margin-top: 90px;
}

.sector-description{
    font-weight: 800;
    font-size: 22px;
    margin: 30px 0;
}

/* card menu */

.card-menu{
    display:flex;
    text-align: left;
    gap: 24px;
}

.card1{
    background-color: bisque;
    padding: 50px 30px 50px 20px;
    height: 400px;
    border-radius: 5%;
    justify-content: center;
}
.card2{
    background-color: aquamarine;
    padding: 50px 30px 50px 20px;
    height: 400px;
    border-radius: 5%;
    justify-content: center;
}
.card3{
    background-color: cadetblue;
    padding: 50px 30px 50px 20px;
    height: 400px;
    border-radius: 5%;
    justify-content: center;
}



/* section below */

.section-below{
    display: flex;
    gap: 30px;
    margin-top: 60px;

}

.down-image{
    height: 600px;
    width: 700px;
}


.description{
    background-color: bisque;
    padding-top: 50px;
   
}
.b-title{
    padding-bottom: 80px;
    font-size: 60px;
    font-weight: 800;

}

.b-description{
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 800;
}
